{% extends "base.html" %}

{% block content %}
<h1 class="text-center my-4">Works log</h1>

{% for item in jobs %}
<div class="container col-md-8 border rounded p-3 mb-4">
    <h2>Action #{{item.id}}</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th class="text-center" style="width: 30%">Title of activity</th>
                    <th class="text-center" style="width: 20%">Team leader</th>
                    <th class="text-center" style="width: 10%">Duration</th>
                    <th class="text-center" style="width: 25%">Collaborators</th>
                    <th class="text-center" style="width: 15%">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center align-middle">{{item.job}}</td>
                    <td class="text-center align-middle">
                                <a>{{item.team_leader.surname}}</a>
                            {% if item.team_leader.name %}
                                <a>{{item.team_leader.name}}</a>
                            {% endif %}
                    </td>

                    <td class="text-center align-middle">{{item.work_size}} hours</td>
                    <td class="text-center align-middle">{{item.collaborators}}</td>
                    <td class="text-center align-middle">
                        {% if item.is_finished %}
                            <span class="badge bg-success">finished</span>
                        {% else %}
                            <span class="badge bg-warning text-dark">not finished</span>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endfor %}
{% endblock %}